<% scope['schleuder::lists'].keys.sort.each do |name| -%>
<% ['', '-request', '-owner', '-bounce', '-sendkey'].each do |append| -%>
<%= name.split('@').join("#{append}@") %> schleuder:
<% end
end -%>
