<VirtualHost *:80 >

  ServerName <%= scope['fqdn'] %>
  ServerAlias localhost 127.0.0.1 <%= @host_ip %>

  DocumentRoot /var/www/schleuder-web/public/


  ErrorLog /var/www/schleuder-web/log/error_log
  CustomLog /var/www/schleuder-web/log/access_log combined

  RewriteEngine On
  RewriteCond %{HTTPS} !=on
  RewriteCond %{HTTP:X-Forwarded-Proto} !=https
  RewriteRule (.*) https://%{SERVER_NAME}$1 [R=permanent,L]
  # config for schleuder-web
  SetEnv SECRET_KEY_BASE <%= scope.function_sha1([scope.function_fqdn_rand([1024,'secret_key']).to_s]) %>
  SetEnv SCHLEUDER_API_KEY <%= scope.function_sha1([scope.function_fqdn_rand([1024,'secret_key']).to_s]) %>
  SetEnv SCHLEUDER_TLS_FINGERPRINT <%= @tls_fingerprint %>
  SetEnv SCHLEUDER_API_HOST <%= @host_ip %>
  SetEnv SCHLEUDER_WEB_HOSTNAME <%= scope['fqdn'] %>

  # don't change anything after here
  SetEnv PATH /opt/rh/rh-<%= scope['schleuder::web::ruby_scl'] %>/root/usr/local/bin:/opt/rh/rh-<%= scope['schleuder::web::ruby_scl'] %>/root/usr/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
  SetEnv LD_LIBRARY_PATH /opt/rh/rh-<%= scope['schleuder::web::ruby_scl'] %>/root/usr/local/lib64:/opt/rh/rh-<%= scope['schleuder::web::ruby_scl'] %>/root/usr/lib64
  SetEnv MANPATH /opt/rh/rh-<%= scope['schleuder::web::ruby_scl'] %>/root/usr/local/share/man:/opt/rh/rh-<%= scope['schleuder::web::ruby_scl'] %>/root/usr/share/man:
  SetEnv PKG_CONFIG_PATH /opt/rh/rh-<%= scope['schleuder::web::ruby_scl'] %>/root/usr/local/lib64/pkgconfig:/opt/rh/rh-<%= scope['schleuder::web::ruby_scl'] %>/root/usr/lib64/pkgconfig
  SetEnv XDG_DATA_DIRS /opt/rh/rh-<%= scope['schleuder::web::ruby_scl'] %>/root/usr/local/share:/opt/rh/rh-<%= scope['schleuder::web::ruby_scl'] %>/root/usr/share:/usr/local/share:/usr/share

  PassengerHighPerformance On
  PassengerRuby /opt/rh/rh-<%= scope['schleuder::web::ruby_scl'] %>/root/usr/bin/ruby

  <Directory /var/www/schleuder-web/>
    Options None
    AllowOverride None
    # Apply the right behavior depending on Apache version.
    Require all granted
  </Directory>
  <Directory /var/www/schleuder-web/publ>
      Options -MultiViews
      Require all granted
  </Directory>

  <IfModule mod_security2.c>
    SecRuleEngine On
    SecAuditEngine RelevantOnly
    SecAuditLogType Concurrent
    SecAuditLogStorageDir /var/www/schleuder-web/log/
    SecAuditLog /var/www/schleuder-web/log/mod_security_audit.log
    SecDebugLog /var/www/schleuder-web/log/mod_security_debug.log
  </IfModule>

  <IfModule mod_security2.c>
    SecRuleRemoveById 200003
  </IfModule>

</VirtualHost>
<VirtualHost *:443 >
  ServerName <%= scope['fqdn'] %>
  ServerAlias localhost 127.0.0.1 <%= @host_ip %>

  DocumentRoot /var/www/schleuder-web/public/

  SSLEngine on
  SSLCertificateFile /etc/pki/tls/certs/localhost.crt
  SSLCertificateKeyFile /etc/pki/tls/private/localhost.key

  ErrorLog /var/www/schleuder-web/log/error_log
  CustomLog /var/www/schleuder-web/log/access_log combined



  # config for schleuder-web
  SetEnv SECRET_KEY_BASE <%= scope.function_sha1([scope.function_fqdn_rand([1024,'secret_key']).to_s]) %>
  SetEnv SCHLEUDER_API_KEY <%= scope.function_sha1([scope.function_fqdn_rand([1024,'web']).to_s]) %>
  SetEnv SCHLEUDER_TLS_FINGERPRINT <%= @tls_fingerprint %>
  SetEnv SCHLEUDER_API_HOST <%= @host_ip %>
  SetEnv SCHLEUDER_WEB_HOSTNAME <%= scope['fqdn'] %>

  # don't change anything after here
  SetEnv PATH /opt/rh/rh-<%= scope['schleuder::web::ruby_scl'] %>/root/usr/local/bin:/opt/rh/rh-<%= scope['schleuder::web::ruby_scl'] %>/root/usr/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
  SetEnv LD_LIBRARY_PATH /opt/rh/rh-<%= scope['schleuder::web::ruby_scl'] %>/root/usr/local/lib64:/opt/rh/rh-<%= scope['schleuder::web::ruby_scl'] %>/root/usr/lib64
  SetEnv MANPATH /opt/rh/rh-<%= scope['schleuder::web::ruby_scl'] %>/root/usr/local/share/man:/opt/rh/rh-<%= scope['schleuder::web::ruby_scl'] %>/root/usr/share/man:
  SetEnv PKG_CONFIG_PATH /opt/rh/rh-<%= scope['schleuder::web::ruby_scl'] %>/root/usr/local/lib64/pkgconfig:/opt/rh/rh-<%= scope['schleuder::web::ruby_scl'] %>/root/usr/lib64/pkgconfig
  SetEnv XDG_DATA_DIRS /opt/rh/rh-<%= scope['schleuder::web::ruby_scl'] %>/root/usr/local/share:/opt/rh/rh-<%= scope['schleuder::web::ruby_scl'] %>/root/usr/share:/usr/local/share:/usr/share

  PassengerHighPerformance On
  PassengerRuby /opt/rh/rh-<%= scope['schleuder::web::ruby_scl'] %>/root/usr/bin/ruby

  <Directory /var/www/schleuder-web/>
    Options None
    AllowOverride None
    # Apply the right behavior depending on Apache version.
    Require all granted
  </Directory>
  <Directory /var/www/schleuder-web/publ>
      Options -MultiViews
      Require all granted
  </Directory>

  <IfModule mod_security2.c>
    SecRuleEngine On
    SecAuditEngine RelevantOnly
    SecAuditLogType Concurrent
    SecAuditLogStorageDir /var/www/schleuder-web/log/
    SecAuditLog /var/www/schleuder-web/log/mod_security_audit.log
    SecDebugLog /var/www/schleuder-web/log/mod_security_debug.log
  </IfModule>


  <IfModule mod_security2.c>
    SecRuleRemoveById 200003
  </IfModule>

</VirtualHost>
